/* Style the tab buttons */
.tablink {
    background-color: rgb(125, 122, 122);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: rgb(123, 114, 114);
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #BenchPress {background-color:red;}
  #hangclean {background-color:green;}
  #bicepcurls {background-color:blue;}
  #backsquats {background-color:orange;}
  #jumpingJ {background-color:rgb(255, 192, 250);}
  #jumprope {background-color:purple;}
  #burpees {background-color:peru;}
  #swimming {background-color:brown;}